@import "nullstyle.css";

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[class*='__container'] {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
}

.wrapper {}

.block {}

.block__top {
    background-color: #eeebd8;
    padding: 22px;
}