@import "nullstyle.css";

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[class*='__container'] {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
}

.wrapper {
}

.block {
}

.block__top {
    background-color: #eeebd8;
    padding: 22px 22px 30px 22px;
}

.top__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 50px;
}

.top__title::after {
    content: '';
    display: inline-block;
    background: url("../svg/carte.svg") 0 0 no-repeat;
    width: 80px;
    height: 39px;
    margin: 0 0 0 85px;
    position: relative;
    top: 3px;
}

.top__arrows {
}

.top__arrows::before {
    content: '';
    display: inline-block;
    background: url("../svg/left.svg") 0 0 no-repeat;
    width: 21px;
    height: 38px;
    opacity: .1;
}

.top__arrows::after {
    content: '';
    display: inline-block;
    background: url("../svg/right.svg") 0 0 no-repeat;
    width: 21px;
    height: 38px;
    opacity: .1;
    margin: 0 0 0 42px;
}

.top__arrows::before,
.top__arrows::after {
    position: relative;
    top: 6px;
}